*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.page{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#landing{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: row;
    transform: translateX(+5em);
}
    
    .contactBox{
        display: flex;
        flex-direction: row;
        /* height:38vh; */
        background-position: center;
        margin: 0 0 0 0;
    }
        .faceBox{
            background-color: grey;
            background-image: url(https://raw.githubusercontent.com/zacharydonsky/personalSite/master/assets/pixelFace.png);
            background-size: cover;
            height: 300px;
            width: 300px;
        }
        
        .contactBox{
            display: flex;
            flex-direction: column;
            margin-left:1vw;
            width:30vw;
        }
        .contactInfoTitle{
                font-size: 3vw;
                line-height: 70%;
            }
        .contactInfo{
            display: flex;
            flex-direction: column;
            height: 29vh;
        }
        .contactInfo div p{
            transform:translateY(4vh);
            border-top: solid 2px white;
            padding: 1vw;
            padding-bottom: 3em;
            background-color: rgba(65, 65, 65, 0.9);
        }
        .contactInfo a{
            transform: translateY(+2em);
            margin: auto;
            text-align: center;
            padding: 10px;
            width: 250px;
            border-radius: 15px;
            border: 3px rgb(163, 163, 163) solid;
            background:rgba(53, 53, 53, 0.7);
            transition: background 0.5s;
        }
        .contactInfo a:hover{
            background: rgba(163, 163, 163, 0.7);
            color: black;
        }
            

@media screen and (max-width: 52em){
    .container{
        transform: translateY(+4em);
        display:flex;
        flex-direction: column;
        background-color: rgba(65, 65, 65, 0.9);
        width:90vw;
        padding: 3vh;
        align-items: flex-start;
        justify-content: center; 
    }
    .faceBox{
        height:30vh;
        width: 30vh;
        margin: auto;
        background-size:cover;
    }
    .contactInfoTitle{
        margin: auto;
        width:90vw;
        margin-top: .5em;
        line-height: 100%;
        font-size: 2em;
        text-align: center;
    }
    .contactInfo{
        width:80vw;
    }
    .contactInfo div p{
        background: transparent;
    }
    .contactInfo a{
        transform: translateY(-1em);
        margin: auto;
    }
}
