*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.page{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#landing{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: row;
    transform: translateX(+0vw);
    width:50vw;
}
    
    .contactBox{
        display: flex;
        flex-direction: row;
        /* height:38vh; */
        background-position: center;
        margin: 0 0 0 0;
    }
        .faceBox{
            background-color: grey;
            background-image: url(https://raw.githubusercontent.com/zacharydonsky/personalSite/master/assets/pixelFace.png);
            background-size: 16vh;
            height: 38vh;
            width: 38vw;
        }
        
        .contactBox{
            display: flex;
            flex-direction: column;
            margin-left:1vw;
            width:30vw;
        }
        .contactInfoTitle{
                font-size: 3vw;
                line-height: 70%;
            }
        .contactInfo{
            display: flex;
            flex-direction: column;
            
            height: 29vh;
        }
        .contactInfo div p{
            transform:translateY(4vh);
            border-top: solid 2px white;
            padding: 1vw;
            background-color: rgba(65, 65, 65, 0.9);
        }
        .contactInfo a{
            margin-top: 5vh;
            text-align: center;
            padding: 10px;
            width: 250px;
            border-radius: 15px;
            border: 3px rgb(163, 163, 163) solid;
            background:black;
            transition: background 0.5s;
        }
        .contactInfo a:hover{
            background: rgb(163, 163, 163);
            color: black;
        }
            

@media screen and (max-width: 52em){
    .container{
        /* background: rgba(70, 70, 70, 0.9); */
        justify-content: center;
        align-items: center;
        padding:0;
        margin:0;
        width: 95vw;
        transform: translateX(-5vw);
    }
    .faceBox{
        background-image: url(https://raw.githubusercontent.com/zacharydonsky/personalSite/master/assets/pixelFace.png);
        background-size: 50vh;
        background-position: 90%;
        height: 50vh;
        width: 30vw;
        margin: 0;
        padding: 0;
    }
    .contactInfo{
        transform: translateY(0vh);
        background: rgba(70, 70, 70, 0.9);
        width: 55vw;
        height: 50vh;
        padding: 2vh;
        
    }
    .contactInfo h3{
        font-size: 12vw;
        line-height: 100%;
        /* display: none; */
    }
    .contactInfo ul{
        background: transparent;
        overflow-wrap: break-word;
        border: none;
        margin-bottom: 2vh;
        flex-direction: column;
    }
    
}
