*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.page{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#landing{
    background-color: rgb(31, 31, 31);
    background-image:  linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),
                       url(https://raw.githubusercontent.com/zacharydonsky/personalSite/master/assets/amsterdamStreet.png);
    background-size: 100vw ;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
    .contactBox{
        display: flex;
        flex-direction: row;
        height:38vh;
        background-position: center;
        transform: translateX(+5vw);
        margin: 0 0 0 0;
    }
        .faceBox{
            background-image: url(https://raw.githubusercontent.com/zacharydonsky/personalSite/master/assets/pixelFace.png);
            background-size: 38vh;
            height: 38vh;
            width: 38vh;
        }
        .contactInfo{
            margin-left: 3vw;
            display: flex;
            flex-direction: column;
            width: 40vw;
            transform:translateY(4vh);
        }
            .contactInfo h3{
                font-size: 3vw;
                line-height: 70%;
            }
            .contactInfo ul{
                border-top: solid 2px white;
                margin-top: 1vh;
                padding-top: 3vh;
                padding-left: 2vw;
                height: 18vh;
                background: rgba(70, 70, 70, 0.9);
            }
            .contactInfo ul li{
                font-size: 1.5vw; 
                line-height: 150%;
            }
            .contactInfo ul li a{
                font-size: 1.5vw;
                text-decoration: none;
                color: white;
            }
@media screen and (max-width: 40em){
    .container{
        /* background: rgba(70, 70, 70, 0.9); */
        justify-content: center;
        align-items: center;
        padding:0;
        margin:0;
        width: 95vw;
        transform: translateX(-5vw);
    }
    .faceBox{
        background-image: url(https://raw.githubusercontent.com/zacharydonsky/personalSite/master/assets/pixelFace.png);
        background-size: 50vh;
        background-position: 90%;
        height: 50vh;
        width: 30vw;
        margin: 0;
        padding: 0;
    }
    .contactInfo{
        transform: translateY(0vh);
        background: rgba(70, 70, 70, 0.9);
        width: 55vw;
        height: 50vh;
        padding: 2vh;
        
    }
    .contactInfo h3{
        font-size: 12vw;
        line-height: 90%;
        display: none;
    }
    .contactInfo ul{
        background: transparent;
        overflow-wrap: break-word;
        border: none;
    }
    .contactInfo ul li{
        font-size: 6vw;
        color: white;
    }
    .contactInfo ul li a{
        font-size: 6vw;
        color: white;
    }
}
