*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;  
}
body{
    display: flex;
    flex-direction: row;
    width:100vw;
    height:100vh;
    justify-content: center;
    align-items: center;
    background-image:  linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),
                       url(https://raw.githubusercontent.com/zacharydonsky/personalSite/master/assets/amsterdamStreet.png);
    background-size:100vw;;
    background-position: bottom;
}
nav{
    height: 10vh;
    margin: 0;  
    float: left;
    transform: translateX(-35vw);
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: content-box;
    text-align: left;
}
nav ul{
    display: flex;
    flex-direction: column;
}
nav ul a {
    margin-right: 4vw;
    width: 13vw;
}
    nav ul a li{
        list-style-type: none;
        width: 13vw;
        height: 8vh;
        margin-top: 2vh;
        transition: .5s background;
        
        border-bottom: 5px solid white; 
        
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: flex-end; 
        text-align: center;
        text-decoration: none;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .selected{
        background: rgba(255, 255, 255, 0.33);
        box-shadow: 0 0 3vw #000000;    
        /* border-radius: 5px 5px 0 0;  */
        border-bottom: 5px solid white;
        mix-blend-mode: screen;
    }
    
    nav ul a:nth-last-child(1){ margin: 0;}
    nav ul a li:hover{
        background: white;
        color:black;
        opacity: 1;
    }
    .selected:hover{
        background: rgba(255, 255, 255, 0.33);
        box-shadow: 0 0 3vw #000000;    
        /* border-radius: 5px 5px 0 0;  */
        border-bottom: 5px solid white;
        color:white;
        mix-blend-mode: screen;
    }