*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;  
    text-decoration: none;
    list-style-type: none;
    color: white;
}
body{
    display: flex;
    flex-direction: row;
    width:100vw;
    height:100vh;
    justify-content: center;
    align-items: center;
    background-image:  linear-gradient( rgba(0, 0, 0, 0.3), 
                                        rgba(0, 0, 0, 0.3) ),
                       url(https://raw.githubusercontent.com/zacharydonsky/personalSite/master/assets/amsterdamStreet.png);
    background-size:100vw;
    background-position: bottom;
}
nav{
    height: 10vh;
    margin: 0;  
    float: left;
    transform: translateX(-35vw);
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: content-box;
    text-align: left;
}
nav ul{
    display: flex;
    flex-direction: column;
}
nav ul a {
    margin-right: 4vw;
    width: 13vw;
}
    nav ul a li{
        width: 13vw;
        height: 8vh;
        margin-top: 2vh;
        transition: .5s background;
        
        border-bottom: 5px solid white; 
        
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: flex-end; 
        text-align: center;
        /* text-decoration: none; */
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .selected{
        background: rgba(255, 255, 255, 0.33);
        box-shadow: 0 0 3vw #000000;    
        /* border-radius: 5px 5px 0 0;  */
        border-bottom: 5px solid white;
        mix-blend-mode: screen;
    }
    
    nav ul a:nth-last-child(1){ margin: 0;}
    nav ul a li:hover{
        background: white;
        color:black;
        opacity: 1;
    }
    .selected:hover{
        background: rgba(255, 255, 255, 0.33);
        box-shadow: 0 0 3vw #000000;    
        /* border-radius: 5px 5px 0 0;  */
        border-bottom: 5px solid white;
        color:white;
        mix-blend-mode: screen;
    }
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 75vh;
    margin-top: 5vh;
    transform: translateX(+10vw);
}
    .box{
        display: flex;
        
        justify-content: center;
        align-items: flex-end;
        text-align: center;                    
        background-size: 90vh;
        border-radius: 10px;
        box-shadow: 0 0 1vw #000000;    
        width: 20vw;
        height: 20vw;      
        transition: width .5s; 
        margin: 0 4vw 0 0;
        z-index:0;
    }
        .box-blurb{
            display:flex;
            flex-direction: column;
            width:20vw;
            height: 6vw;

            border-radius: 0 0 10px 10px;
            transition: width .5s; 

            align-items: center;
            justify-content: center;
            text-align: center;

            background-color: black;
            opacity: 0.75;
            color:white;
            font-size: 2vw;
            font-family: Arial;
        }
        .box p{
            color: white;
            font-size: 12px;
        }
        .box:hover { width:22vw; }
        .box:hover .box-blurb{width:22vw; } 
        .box .baseCount{margin:0;}

@media screen and (max-width: 52em){
    body{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-size: 200vh;
        background-position: top;
    }
    nav{
        position: absolute; 
        flex-direction: row;
        transform: translateY(-40vh);
        height: 10vh;
        width: 90vw;
        align-items: center;
        justify-content: center;
        margin-block-end: 5vh;
    }
    nav ul{
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        width: 100vw;
        margin-right: 5vw;
        
    }
    nav ul a li{
        width: 20vw;
        height: 15vh;
        font-size: 4vw;
    }
    .content{
        flex-direction: column;
        justify-content: center;
        transform:translateY(+40vh);
        margin: 0;
        /* padding: 0; */
    }
    .box{
        margin: 0;
        margin-bottom: 2vh;
        width: 90vw;
        height: 40vh;
        border-radius: 0;
        align-items: center;
        justify-content: flex-start;
        transition: height .5s;
        background-size: 95vw;
    }
        .box-blurb{
            font-size: 7vw;
            height: 40vh;
            width: 40vw;
            opacity: .9;
            border-radius: 0 ;
            transition: height .5s;
        }
        .box-blurb p{
            margin-top: 3vh;
            font-size: 4vw;
        }
        .box:hover{height: 42vh; width: 90vw;}
        .box:hover .box-blurb{width:40vw; height: 42vh;}
} 