div .resumeCV{
    background-image: url();
}
.portfolio{
    background-image: url(https://raw.githubusercontent.com/zacharydonsky/personalSite/master/assets/portfolio.png);
    background-size: 30vw;
    background-position: center;
}