 .resumeCV{
    background-image: url(https://raw.githubusercontent.com/zacharydonsky/personalSite/master/assets/ResumeArt.png);
    background-position: center;
    background-size: cover;
}
.portfolio{
    background-image: url(https://raw.githubusercontent.com/zacharydonsky/personalSite/master/assets/portfolio.png);
    background-size: cover;
    background-position: center;
}
@media screen and (max-width: 52em){
    .content{
        transform: translateY(+19vh);
    }
}