*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.page{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 80vw;
    height: 95vh;
    margin: 5vh 10vw 5vh 10vw;
}
#landing{
    background-color: rgb(31, 31, 31);
    background-image:  linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),
                       url(https://raw.githubusercontent.com/zacharydonsky/personalSite/master/assets/amsterdamStreet.png);
    background-size: 100vw ;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 75vh;
}

    .banner{
        background-image: url(https://raw.githubusercontent.com/zacharydonsky/personalSite/master/assets/banner.png);
        background-position: right;
        margin: 0 2vw 0 0;
        opacity: .68;
        height:75vh;
        width: 10vw;        
    }
.box{
    cursor: -webkit-grab;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;                    
    background-size: 90vh;
    border-radius: 10px;
    box-shadow: 0 0 1vw #000000;    
    width: 20vw;
    height: 75vh;      
    transition: width .5s; 
    margin: 0 4vw 0 0;
    z-index:0;
}
.box_expanded{
    width: 100vw;
    height:100vh;
    z-index: 1;
    background: black;
}
    .box:hover{     
        width:22vw;
    }
    .box h3{
        background: white;
        opacity: 0.8;
        margin: 0 1vw 0 1vw;
        border-radius: 5px;
        padding: 1vw .5vw 1vw .5vw;
        color:black;
        mix-blend-mode: screen;
        font-size: 3vw;
        font-family: Arial;
    }
#CurrentProjects{
    cursor: -webkit-grab;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
            url(https://i.imgur.com/B8tCZta.png);
    background-position: left;
}
#ResumePortfolio{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
                        url(https://i.imgur.com/jCtlgEh.png);
    background-position: 50% 94%;     
    background-size: 55vw;
}
#WebStuff{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
                        url(https://i.imgur.com/nMjGfgA.png);
    background-position: center;
    background-size: 25vw;
    margin: 0 0 0 0;
}