*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.page{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 80vw;
    height: 95vh;
    margin: 5vh 10vw 5vh 10vw;
}
#landing{
    background-color: rgb(31, 31, 31);
    background-image:  linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),
                       url(https://raw.githubusercontent.com/zacharydonsky/personalSite/master/assets/amsterdamStreet.png);
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    height: 75vh;
}

    .container h1{
        /* position: relative; */
        background: white;
        margin: 0 0 2vw 0;
        opacity: .8;
        align-self: flex-end;
        /* flex-shrink: inherit; */
        height:auto;
        width: 75vh;
        transform: rotate(270deg);
        transform-origin:20% 40%;
        text-align: left;
        color: black;
        mix-blend-mode: screen;
        font-size: 10vh;
        font-family:'Courier New', Courier, monospace;
    }
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;                    
    background-size: 90vh;
    border-radius: 10px;
    box-shadow: 0 0 1vw #313131;
    margin: 0 2vw 0 0;
    width: 20vw;
    height: 75vh;      
    transition: width .5s; 
}
    .box:hover{     
        width:22vw;
    }
    .box h3{
        background: white;
        opacity: 0.8;
        margin: 0 1vw 0 1vw;
        border-radius: 5px;
        padding: 1vw .5vw 1vw .5vw;
        color:black;
        mix-blend-mode: screen;
        font-size: 3vw;
        font-family: Arial;
    }
.box:nth-child(1){
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
            url(https://i.imgur.com/B8tCZta.png);
    background-position: left;
}
.box:nth-child(2){
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
                        url(https://i.imgur.com/jCtlgEh.png);
    background-position: 50% 94%;     
    background-size: 55vw;
}
.box:nth-child(3){
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
                        url(https://i.imgur.com/nMjGfgA.png);
    background-position: center;
    background-size: 25vw;
    margin: 0 0 0 0;
}