*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.page{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 80vw;
    height: 95vh;
    margin: 5vh 10vw 5vh 10vw;
}
#landing{
    background-color: rgb(31, 31, 31);
    background: url(https://i.imgur.com/D3E0rPB.jpg);
    /* background-color: black; */
}
    #landing .container{
        /* background-color:  rgb(104, 104, 104); */
        /* background-color: rgb(31, 31, 31); */
        padding: 5vh 5vw 0 5vw;
    }
        #landing .container h1{
            color: white;
            font-size: 10vh;
            font-family:'Courier New', Courier, monospace;
        }
            #landing .container .box-container{
                margin: 2vh 0 0 0;
                display:flex;
                justify-content: center;
            }
                #landing .container .box-container .box{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;                    
                    background-size: 90vh;
                    border-radius: 10px;
                    box-shadow: 0 0 1vw #313131;
                    margin: 0 2vw 0 0;
                    width: 20vw;
                    height: 75vh;      
                    transition: width .5s;
                     
                }
                    #landing .container .box-container .box:hover{     
                        width:22vw;
                    }
                #landing .container .box-container .box:nth-child(1){
                    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
                                url(https://i.imgur.com/saUtAsI.jpg);
                    background-position: center;
                }
                    /* #landing .container .box-container .box:nth-child(1):hover{
                        background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), 
                                    url(https://i.imgur.com/saUtAsI.jpg);
                        background-position: center;
                    } */
                #landing .container .box-container .box:nth-child(2){
                    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
                                      url(https://i.imgur.com/jCtlgEh.png);
                    background-position: 50% 94%;     
                    background-size: 55vw;
                }
                #landing .container .box-container .box:nth-child(3){
                    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
                                      url(https://i.imgur.com/nMjGfgA.png);
                    background-position: center;
                    background-size: 25vw;
                }
                    
                #landing .container .box-container .box h3{
                    background: white;
                    opacity: 0.8;
                    margin: 0 1vw 0 1vw;
                    border-radius: 5px;
                    padding: 1vw .5vw 1vw .5vw;
                    color:black;
                    mix-blend-mode: screen;
                    font-size: 3vw;
                    font-family: Arial;
                }
#working_on{
    background-color: brown;
}